/*
  ====================
  Global Reset for HTML
  ====================
*/
html {
  margin: 0;
}

/*
  ====================
  Canvas Container Styling
  ====================
*/
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

/*
  ====================
  Button Styling
  ====================
*/
.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

/*
  ====================
  Color-Specific Button Styling
  ====================
*/
#grey {
  background: grey;
}

#white {
  background: white;
}

#blue {
  background: blue;
}

#yellow {
  background: yellow;
}